__pycache__
/testes/web_scraping/downloads
/testes/web_scraping/compressed_files
/testes/transformacao_dados/csv
/testes/transformacao_dados/compressed_files
/testes/bancos_dados/demonstracoes_contabeis
/testes/bancos_dados/operadoras_de_plano_de_saude_ativas
